.test-border {
  border: 1px solid red;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.table {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  flex-direction: column;
}

.table__heading {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.logo {
  display: block;
  width: 183px;
  height: 32px;
}

.logo_place_header {

}

.section-title {
  width: 60%;
  margin: 0 0 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  padding: 30px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  //margin: 0;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
/* content */

.content {
  display: flex;
  flex-direction: column;
}

/* description */
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_item_last {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}
/* digits */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px;
}

.digits__list {
  width: 1100px;
}

.digits__item {
  width: 250px;
  padding-top: 60px;
}
/*  */
/*  */
/*  */

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
